body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--paragraph-color);
}

h1,
h2 {
    font-family: var(--main-font);
    font-size: var(--title1-size);
    text-align: center;
}

#formArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#sportCoachPic {
    display: flex;
    justify-content: space-between;
}

#sportCoachClient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sportName,
#coachName,
#nameClient,
#firstNameClient {
    display: flex;
    flex-direction: column;
}

#firstNameClient {
    justify-content: flex-end;
    align-content: center;
}

#infoClient {
    display: flex;
}

#picCoachForm {
    width: 15vw;
}

#infoClients {
    display: flex;
    flex-wrap: wrap;
}

#coachFormBox1,
#coachFormBox2,
#coachFormMuscu1,
#coachFormMuscu2,
#coachFormAquaBike,
#coachFormCardio1,
#coachFormCardio2,
#coachFormAquaGym,
#coachFormYoga {
    display: none;
    width: 100%;
    border-radius: 25px;
    filter: drop-shadow(15px 15px 4px #183D3D);
}

#availableClient {
    padding-right: 10%;
}

#textAvailableClient,
#textTelMailClient,
#textCommentClient {
    width: 100%;
}

#availableCommentClient {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3%;
}

button {
    border-radius: 20px;
    background-color: #183D3D;
    width: auto;
    /* box-shadow: 2px 4px black; */
    color: white;
    padding: 10px;
    margin-top: 2%;
    font-size: 0.8em;
    font-family: var(--paragraph-font);
    box-shadow: 4px 4px 12px #122a2b,
        -4px -4px 12px #122a2b;
    transition: all 0.3s ease 0s;
}

button:hover {
    cursor: pointer;
    background-color: #5c8374;
    font-size: 17px;
}

#localisation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2%;
}

.planTram {
    width: 25vw;
    height: 35vh;
    border-radius: 20px;
}

.logoTram {
    width: 2vw;
}

select,
input {
    border-radius: 5px;
    background-color: white;
    border: solid 2px var(--third-color);
}

::placeholder {
    color: rgb(52, 51, 51);
}

#example {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#example div {
    width: 35%;
    height: 25%;
    margin: 100px auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#example div a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (min-width: 783px) and (max-width: 1233px) {
    .planTram {
        width: 40vw;
    }

    #form {
        width: 90vw;
    }

    #picCoachForm {
        width: 20vw;
    }

    .logoTram

    /*.logoX,
    .logoInsta*/
        {
        width: 3vw;
    }

    #sportCoachPic {
        justify-content: space-around;
    }

    #example div {
        height: 30%;
        width: 50%;

    }
}

@media screen and (max-width: 920px) {

    /*#infoClients {*/
    /* justify-content: center; */
    /* align-content: center; */
    /* }*/


    #availableClient {
        padding-right: 0;
    }

    #CommentClient {
        width: 100%;
    }

    #example div {
        height: 30%;
        width: 50%;

    }
}

@media screen and (min-width: 582px) and (max-width: 782px) {
    #picCoachForm {
        width: 25vw;
    }

    #form {
        width: 95vw;
    }

    .planTram {
        width: 50vw;
    }

    .logoTram

    #sportCoachPic {
        justify-content: space-around;
    }

    #example div {
        height: 30%;
        width: 60%;

    }
}

@media screen and (max-width: 581px) {

    #sportCoachPic {
        justify-content: space-around;
    }

    .logoTram

    /*
    .logoX,
    .logoInsta */
        {
        width: 4vw;
    }

    .planTram {
        width: 70vw;
    }

    #example div {
        height: 50%;
        width: 50%;

    }

}